body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    height: 550px;
    padding-left: 225px;
    padding-right: 225px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.l1,.l2,.l3,.subtext {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.l1 {
    margin-left: auto;
}

.navbar {
    display: flex;
    column-gap: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.hcontent, .img-text, .action .box {
    display: flex;
}

.hleft, .hright, .info, .quote, .action{
    display: flex;
    flex-direction: column;
}

.hleft .title {
   font-size: 48px;
   font-weight:bolder; 
   color: #F9FAF8;
}

.hleft button {
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0px;
    border:0px
}

.hright {
    justify-content: center;
    margin-left:auto;
    background-color:grey;
    width: 700px;
    height: 350px;
    text-align: center;
}

.hleft {
    justify-content: center;
}

.hleft div {
    padding-bottom: 10px;
}

.hright img {
    color: rgb(255, 255, 255);
}

.info {
    height: 550px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937; 
    padding-top:60px;
    text-align: center;
}

.img-text {
    column-gap: 60px;
    padding-top: 60px;
    justify-content: center;
}

.sec-img {
    border: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.img-text .sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 277px;
    row-gap: 10px;
}

.quote {
    background-color: #E5E7EB;
    height: 420px;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-left: 550px;
}

.quote .author {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 1080px;
}

.action {
    height: 350px;
    justify-content: center;
    align-items: center;
}

.action .box {
    height: 170px;
    background-color: #3882F6;
    width: 1000px;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.action .box .text .title {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.action .box .text .content {
    font-size: 18px;
    color: #E5E7EB;
}

.action .box .sign-up {
    border: 1px solid #F9FAF8;
    width: 150px;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.action .box .sign-up button {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: #F9FAF8;
    font-size: medium;
}